.block-container {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
}
/*
header {visibility: hidden;}
*/
.gradient-divider {
    height: 4px;
    background: linear-gradient(to right, #FF5733, #FF8C00);
    border: none;
    margin: 20px 0;
}
.blue-section {
    background-color: #1e3a8a; 
    color: white;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom:10px;
    height: 25px;
}